<!DOCTYPE html>
<html>
  <head>
    <title>LiquidTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    Liquid Application Layout
  </body>
</html>
